.card {
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-size: cover;
    background-position: bottom;
    min-height: 400px;
    width: 50%;
}

.card2 {
    background-size: cover;
    background-position: bottom;
    min-height: 400px;
    width: 50%;
}


.player-wrapper {
    position: relative;

}

.react-player {
    position: relative;
    top: 0;
    left: 0;
}
